* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: black;
    font-family: "VT323", monospace;
    color: #ebe8e0;
    line-height: 1em;
}

.link {
    color: hotpink;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

h2.register {
    margin: 50px 3px 20px;
    line-height: 1;
}

p.register {
    margin: 10px 3px;
}

input.register {
    cursor: text;
    width: 263px;
    padding: 2px 3px;
    margin: 5px 0;
}

button.register {
    width: 265px;
    margin: 20px 0;
    height: 40px;
    background-color: lightgrey;
    border: 2px solid hotpink;
    border-radius: 3px;
    cursor: pointer;
}

button.register:hover {
    background-color: hotpink;
    transition: 150ms ease-in;
}

.register {
    max-width: 263px;
    margin: 20px 10px;
}

.inputs {
    margin: 20px 0;
}

p.form_error {
    margin: 0 3px 5px 3px;
    color: red;
}

.logo {
    margin: 20px 0;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
