* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: black;
    font-family: "VT323", monospace;
    color: #ebe8e0;
    line-height: 1em;
}

.link {
    color: hotpink;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

h2.register {
    margin: 50px 3px 20px;
    line-height: 1;
}

h3 {
    margin: 3px;
}

.menu_item {
    color: #ebe8e0;
    margin: 20px;
}

.menu_item:hover {
    color: hotpink;
    cursor: pointer;
}

.menu_item:active {
    color: hotpink;
    text-decoration: none;
}

p.register {
    margin: 10px 3px;
}

input.register {
    cursor: text;
    width: 263px;
    padding: 2px 3px;
    margin: 5px 0;
}

button.register {
    width: 265px;
    margin: 20px 0;
    height: 40px;
    background-color: lightgrey;
    border: 2px solid hotpink;
    border-radius: 3px;
    cursor: pointer;
}

button.register:hover {
    background-color: hotpink;
    transition: 150ms ease-in;
}

.register {
    max-width: 263px;
    margin: 20px 10px;
}

.inputs {
    margin: 20px 0;
}

p.form_error {
    margin: 0 3px 5px 3px;
    color: red;
}

.logo {
    margin: 20px 0;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.logged_in_main {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logged_in_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

#logo {
    margin: 0 20px;
    height: 50px;
    object-fit: cover;
}

.profile_picture_mini {
    border: 2px solid hotpink;
    border-radius: 50%;
    margin: 0 20px;
    height: 46px;
    width: 46px;
    object-fit: cover;
    cursor: pointer;
}

.divider {
    width: 97%;
    height: 2px;
    background-color: #ebe8e0;
}

.profile_picture_large {
    border: 2px solid #ebe8e0;
    border-radius: 7px;

    width: 35vw;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
    /* justify-content: space-between; */
    width: 100%;
    padding: 40px 18px;
    flex-wrap: wrap;
}

.bio_area {
    display: flex;
    height: 35vw;
    justify-content: space-between;
    flex-direction: column;
}

.user_bio {
    margin: 0 5px;
    height: 70%;
}

.user_bio_edit {
    display: block;
    width: 265px;
    height: 70%;
    margin: 15px 0 20px 2px;
    padding: 5px;
}

button.bio_save {
    width: 265px;
    margin: 3px 2px;
    height: 40px;
    background-color: lightgrey;
    border: 2px solid hotpink;
    border-radius: 3px;
    cursor: pointer;
}

button.bio_save:hover {
    background-color: hotpink;
    transition: 150ms ease-in;
}

.results {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    row-gap: 20px;
}

h2.results {
    display: inline;
}

.results_entry {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
}

.profile_picture_results {
    border: 2px solid hotpink;
    border-radius: 50%;
    background-color: hotpink;
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}
